#ScrollToTop {
  display: none;
  position: fixed;
  bottom: 0;
  right: 10px;
  z-index: 99;
  border: none;
  outline: none;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

#ScrollToTop img {
  width:30px;
}

#ScrollToTop p {
  color: #1b1b3a;
  font-size: 12px;
}
