.SingleDeck {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  border: 2px solid black;
}

.SingleDeck__header {
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.SingleDeck__header__colors {
  display: flex;
}

.SingleDeck__background {
  height: 250px;
}

.SingleDeck__percentages {
  text-align: center;
  padding: 10px;
}
