.LoadingPage {
    background-color: #ff3562;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.LoadingPage__title {
    font-size: 24px;
    letter-spacing: 0.23em;
}
