.DashboardView {
    grid-area: 2 / 2 / 3 / 3;
    padding: 5%;
}

.DashboardView__container {
    border-bottom: 1px solid black;
}

.DashboardView__container:last-child {
    border-bottom: none;
}

.DashboardView__container__title {
    font-weight: 100;
    margin: 0 0 20px 0;
}
