.SideBar {
    grid-area: 2 / 1 / 3 / 2;
    background-color: #1b1b3a;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.SideBar__icon {
    margin-top: 50px;
    padding: 10px;
    position: fixed;
}

.icon2 {
    top: 175px;
}

.icon3 {
    top: 300px;
}
