.DeckPercentageBoxes {
    padding: 0 .5rem;
    background-color: white;
    display: flex;
    justify-content: space-between;
  }
  
  .DeckPercentageBoxes__single {
    text-align: center;
  }
  
  .DeckPercentageBoxes__single__percent {
    font-size: 15px;
    font-weight: bold;
    color: #A74482
  }
  
  .DeckPercentageBoxes__single__wildcard {
    font-size: 12px;
  }