.CardData__card {
    display: flex;
}

.CardData__card__attr  {
    margin: 0 1rem;
}

.CardData__card__mana {
    width: 1rem;
    height: 1rem;
}

.CardData__type {
    font-weight: bolder;
}

.CardData__Common {
    font-weight: bold;
    color: black;
}
.CardData__Uncommon {
    font-weight: bold;
    color: silver;
}
.CardData__Rare {
    font-weight: bold;
    color: gold;
}
.CardData__Mythic {
    font-weight: bold;
    color: red;
}